* {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
}

.container {
    height: 100%;
    width: 100%;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
}

.button-parent {
    display: flex;
    justify-content: space-between;
    /* margin-top: 4rem; */
    gap: 100px;

}

.button-parent button {
    padding: 20px 30px;
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    margin-top: 40px;
}

.modal {
    width: 50%;
    height: 50%;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
    padding: 10px 20px;
    z-index: 5;
    box-shadow: 0 0 50px;
}

.modal div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal h1 {
    font-size: 3rem;
}

.modal p {
    font-size: 1.25rem;
}

.modal div span {
    font-size: 3rem;
    font-weight: 900;
    cursor: pointer;
}


.overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    position: absolute;
    z-index: 4;
    backdrop-filter: blur(5px);
}

.hidden {
    display: none;
}